head {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

body .div {
    color: white;
}