head {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #020024 0%, #250979 35%, #000000 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(90deg, #020024 0%, #250979 35%, #000000 100%);
    color: white;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  display: block;
  
}
