head {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

div {
    align-items: center;
    color: white;
    display: flex;
    border: 1px solid white;
}